node_modules/
dist/
build/
.env
*.log

# server
server/uploads/*
!server/uploads/.gitkeep
server/data/*.sqlite
server/data/*.sqlite-journal

# client
client/dist/
# Contact sheet written by scripts/makeIcons.mjs --sheet, for checking the icons.
client/icon-sheet.png

# misc
.DS_Store
